.tab-header-background{
    
    -fx-background-color: #042f38;
}

.jfx-tab-pane .tab-selected-line{
    
    -fx-border-color: #8fcfcf;
}

.tab{
    
    -fx-pref-width: 395;
    -fx-pref-height: 40;
}